# macOS
.DS_Store

# Obsidian cache
.obsidian/cache/
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Trash / temp
.trash/
*.tmp

# Logs
*.log

# Node / dev files if ever added
node_modules/
dist/
.env

# System clutter
Thumbs.db



# Ignore Smart Environment folder
.smart-env